%h1 Listing teams

%table.table
  %thead
    %tr
      %th Name
      %th Github url
      %th Web url
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, team
        %td= link_to team.source, team.source
        %td= link_to team.service, team.service
        %td= button_to 'Destroy', team, method: :delete, :data => { :confirm => 'Are you sure?' }, context: :default

= button_to 'New Team', new_team_path, method: :get, context: :default, layout: :block
