%p#notice= notice

%h2 Team infomation

%p
  %b Name:
  = @team.name
%p
  %b Source:
  = @team.source
%p
  %b Service:
  = @team.service

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path

%h2 GitHub infomation
%p
  %b Contributors:
  - @contributors.each do |contributor|
    = contributor[:login]
