<%= form_for @user, url: { action: 'confirmation' }, html: { class: 'form-horizontal' } do |f| %>
  <h4><p>利用者情報を登録してください</p></h4><br/ >
  <div class="form-group">
    <%= f.label :login_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-5">
      <%= @user.login_name %>
    </div>
  </div>
  <% if !f.object.confirmation? %>
    <div class="form-group">
      <%= f.label :user_full_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :user_full_name, class: 'form-control'%>
        <% if @user.errors.full_messages_for(:user_full_name).any? %>
          <div class="field_with_errors">
            <ul>
              <% @user.errors.full_messages_for(:user_full_name).each do |msg| %>
                  <li><span style="color: red;"><%= msg %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :slack_user, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :slack_user, class: 'form-control'%>
        <% if @user.errors.full_messages_for(:slack_user).any? %>
          <div class="field_with_errors">
            <ul>
              <% @user.errors.full_messages_for(:slack_user).each do |msg| %>
                  <li><span style="color: red;"><%= msg %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :authority, class: "col-sm-2 control-label" %>
      <div class="col-sm-3">
        <%= f.select :authority, User.authorities_i18n.invert, {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :teachers_password, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.password_field :teachers_password, class: 'form-control'%>
        <% if @user.errors.full_messages_for(:teachers_password).any? %>
          <div class="field_with_errors">
            <ul>
              <% @user.errors.full_messages_for(:teachers_password).each do |msg| %>
                  <li><span style="color: red;"><%= msg %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :user_full_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= @user.user_full_name %>
      </div>
      <%= f.hidden_field :user_full_name %>
    </div>
    <div class="form-group">
      <%= f.label :slack_user, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= @user.slack_user %>
      </div>
      <%= f.hidden_field :slack_user %>
    </div>
    <div class="form-group">
      <%= f.label :authority, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= @user.authority_i18n %>
      </div>
      <%= f.hidden_field :authority %>
      <%= f.hidden_field :teachers_password %>
    </div>
  <% end %>
  <br/ >
  <%= f.submit f.object.confirmation? ? "登録する" : "確認する", class: "btn btn-primary", style: "margin-left: 100px;" %>
  <%= f.submit '戻る', class: "btn btn-default", style: "margin-left: 100px;" if f.object.confirmation? %>
  <%= f.hidden_field :confirmed %>
<% end %>