!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Team Activity Watcher
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container
    %header
      = link_to 'GitHub', 'https://github.com/chubachi-pt-2017/activity_watcher-2'
      |
      = link_to 'Travis CI', 'https://travis-ci.org/chubachi-pt-2017/activity_watcher-2'
      |
      = link_to 'Heroku', 'https://github-activity-watcher.herokuapp.com/'
      |
      = link_to 'Sign out', users_logout_path
      %h1 Team Activity Watcher
      %navi
        = nav do
          = link_to 'Home', activity_watcher_path
          = link_to 'Teams', teams_path
          = link_to 'Members', members_path
    %article
      = yield
    %footer
      %hr
      Copyright (C) Y.Chubachi 2016
