<div class="sidebar">
  <div class="sidebar__wrap">
<!-- sidebar menu -->
    <div class="sidebar__menu-wrap">
      <div>
        <ul>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-home" aria-hidden="true"></i><span class="sidebar__action">ホーム</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">コース登録</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">コース登録</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">コース登録</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">コース登録</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">コース登録</span></div>
            <% end %>
          </li>
          <li class="sidebar__items">
            <%= link_to "/" do %>
              <div class="sidebar__item"><i class="fa fa-files-o" aria-hidden="true"></i><span class="sidebar__action">ログアウト</span></div>
            <% end %>
          </li>          
        </ul>
      </div>
    </div>
<!-- /sidebar__menu -->
  </div>
</div>
<!-- /sidebar -->