!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Team Activity Watcher
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.container
    %hader
      = link_to 'GitHub', 'https://github.com/ychubachi/activity_watcher'
      |
      = link_to 'wercker', 'https://app.wercker.com/ychubachi/activity_watcher'
      |
      = link_to 'Heroku', 'https://activity-watcher.herokuapp.com/'
      %h1 Team Activity Watcher
      %navi
        = nav do
          = link_to 'Home', root_path
          = link_to 'Teams', teams_path
          = link_to 'Members', members_path
    %article
      = yield
    %footer
      %hr
      Copyright (C) Y.Chubachi 2016
